
<html>
	<head>	
        <meta charset="UTF-8">			
	</head>
	<body>
       <form  action="/date" method="POST">
       <div>{{msg}}<div>
       <input type="submit" value="Get date"><br><br>
       <div>{{date}}<div>
       <br><br>
       </form>
       <form action="/site" method="POST">
       <input type= "text" name="website" placeholder="Enter a website" action="/site"<br>
       <input type="submit" value="open" name="back" onsubmit="site">
       <div>{{data}}</div>
       <form>
</body>
</html>
	


